/* _typography.scss */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-base;
    font-weight: $heading-font-weight;
    color: $primary-color;
  }
  
  p {
    font-size: rem-calc(16px);
    line-height: 1.6;
  }
  