/* _utilities.scss */
.text-primary { 
    color: $primary-color; 
}

.text-secondary { 
    color: $secondary-color; 
}

.text-font { 
    color: $font-color; 
}

.text-white { 
    color: $white; 
}

.m-1 { 
    margin: 0.25rem; 
}

.m-2 { 
    margin: 0.5rem; 
}

.m-3 { 
    margin: 1rem; 
}

.m-4 { 
    margin: 1.5rem; 
}

.m-5 { 
    margin: 2rem; 
}

.mt-1 { 
    margin-top: 0.5rem; 
}

.mt-2 { 
    margin-top: 1rem; 
}

.mt-3 { 
    margin-top: 1.5rem; 
}

.mt-4 { 
    margin-top: 2rem; 
}

.mt-5 { 
    margin-top: 3rem; 
}

.p-1 { 
    padding: 0.5rem; 
}

.p-2 { 
    padding: 1rem; 
}

.p-3 { 
    padding: 1.5rem; 
}

.p-4 { 
    padding: 2rem; 
}

.p-5 { 
    padding: 2.5rem; 
}

.border-rounded {
    border-radius: $border-radius; 
    border: 4px solid $secondary-color; 
    padding: 0.5rem; 
    transition: border-color 0.3s; 

}

.bg-primary { 
    background-color: $primary-color; 
}

.bg-secondary { 
    background-color: $secondary-color; 
}

.bg-white { 
    background-color: $white; 
}

.bg-light { 
    background-color: $Light-gray; 
}

.d-flex { 
    display: flex; 
}

.align-items-center { 
    align-items: center; 
}

.justify-content-center { 
    justify-content: center; 
}

.text-left { 
    text-align: left; 
}

.text-center { 
    text-align: center; 
}

.text-right { 
    text-align: right; 
}
