/* _variables.scss */
$primary-color: #3498db;     

$secondary-color: #2ecc71;      

$font-color: #333;              

$Light-gray: #f4f4f4;     

$tertiary-color: #e74c3c;       

$quaternary-color: #f39c12;     

$accent-color-1: #8e44ad;       

$accent-color-2: #16a085;       

$white: #ffffff; 

$sky-color: #87ceeb;

$border-color :#dddddd; 

$gradient-color: linear-gradient(135deg, $sky-color, $Light-gray,$font-color);

$font-family-base: 'Arial, sans-serif';

$font-size-base: 16px;

$heading-font-weight: bold;

$border-radius: 4px;

$spacing-unit: 1rem;
